<div class="ui-widget ui-g form-container">
    <p class="form-text-header">Support</p>
    <p>If you experience any issues with the BRT Wallet, there are multiple ways to contact us:</p>
    <mat-list>
        <mat-list-item><b>Reddit: </b>Join our official subreddit and post your question <a class="link-color" href="#" (click)="openReddit()">here</a>.</mat-list-item>
        <mat-list-item><b>Github: </b>Report an error or bug on the <a class="link-color" href="#" (click)="openGithub()">BRTNetwork GitHub</a>.</mat-list-item>
        <mat-list-item><b>FAQ: </b>Go to the <a class="link-color" href="#" (click)="openFAQ()">brt FAQ page</a> on the website. The answer may already be there.</mat-list-item>
        <mat-list-item><b>Email: </b>Feel free to get support by email at <a class="link-color" href="mailto:support@brt.network">support@brt.network</a>.</mat-list-item>
        <mat-list-item><b>Social media: </b> Follow us on <a class="link-color" href="#" (click)="openFacebook()">Facebook</a> or <a class="link-color" href="#" (click)="openTwitter()">Twitter</a>.</mat-list-item>
    </mat-list>
</div>
