$fontFamily:  "Roboto";
$fontSize: 0.97em;
$borderRadius: 2px;
$disabledOpacity: 0.35;
$statusBarHeight: 40px;

$brtRed: #bf0a0a;
$brtRedLighter: lighten($brtRed, 10%);
$brtRedDarker: darken($brtRed, 10%);
$brtGreen: #4caf50;
$brtGreenLighter: lighten($brtGreen, 10%);
$brtGreenDarker: darken($brtGreen, 10%);
$brtBlue: #114490;
$brtGray: #f2f2f2;
$brtOrange: #da860a;
$brtBlack: #0f0f0f;