$fontFamily:  "Roboto";
$fontSize: 0.97em;
$borderRadius: 2px;
$disabledOpacity: 0.35;
$statusBarHeight: 40px;

$bgColor: #2a454e;
$bgColorLighter: lighten($bgColor, 10%);
$bgColorDarker: darken($bgColor, 10%);
$brandColor: #00a88f;
$brandColorLighter: lighten($brandColor, 10%);
$brandColorDarker: darken($brandColor, 10%);
$brtBlue: #114490;
$brtGray: #f2f2f2;
$brtOrange: #da860a;
$brtBlack: #2a454e;
